body {
  background-color: #fafafa;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300px;
  /* min-height: 300vh; */
  /* margin-bottom: 70px; */
  color: #1a1a1b;
}

/* colors */
/* 1B1A17 = blackish */
/* #202a39 = dark grey */
/* #4d77ff = light blue*/
/* #F10086 = hot piink */

.text-pink {
  color: #F10086;
}

hr {
  border: none;
  border-bottom: 5px dotted rgba(0, 0, 0, 0.578);
  width: 20px;
  margin: 10px auto 10px;
}

.hr-line {
  margin: 2px auto;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.122);
  width: 100%;
}

.hr-line-user-profile {
  margin: 0 auto 30px;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.122);
  width: 90%;
}

.hr-mini-bar {
  border: 2px solid #202a39;
  background-color: #202a39;
  border-radius: 3px;
  margin: 5px 0;
}

.fw-900 {
  font-weight: 900;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
.position-rel {
  position: relative;
}

.t {
  position: relative;
  top: -1px;
}

.chat-v {
  position: relative;
  top: 3px;
  left: -4px;
}

.color-white {
  color: #fff;
}

.background-white {
  background-color: #fff;
}

.background-off-white {
  background-color: #f7f5f2;
}

.white {
  color: #fff;
}

.grey {
  color: #92a9bd;
}

.grey-dark {
  color: #6c7780;
}
.button-blue {
  color: #2FA4FF;
}

.background-purple {
  background-color: purple;
}

.center {
  text-align: center;
}

.small-img {
  width: 25px;
}
.small-img-feed {
  width: 17px;
}

.width-30 {
  width: 30px;
}
.width-25 {
  width: 25px;
}
.width-20 {
  width: 20px;
}
.width-15 {
  width: 15px;
}
.width-13 {
  width: 13px;
}
.width-12 {
  width: 12px;
}
.width-11 {
  width: 11px;
}
.width-10 {
  width: 10px;
}
.width-8 {
  width: 8px;
}
.width-5 {
  width: 5px;
}

.pad-bot-100 {
  padding-bottom: 100px;
}
.pad-left-5 {
  padding-left: 5px;
}
.pad-left-10 {
  padding-left: 10px;
}
.pad-left-9 {
  padding-left: 10px;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-right-25 {
  padding-right: 25px;
}

.pad-bot-5 {
  padding-bottom: 5px;
}
.pad-bot-10 {
  padding-bottom: 10px;
  /* font-size: 20px; */
}
.pad-bot-20 {
  padding-bottom: 20px;
  /* font-size: 20px; */
}
.pad-bot-30 {
  padding-bottom: 30px;
  /* font-size: 20px; */
}
.pad-top-5 {
  padding-top: 5px;
}
.pad-top-15 {
  padding-top: 15px;
}
.pad-top-10 {
  padding-top: 10px;
  /* font-size: 20px; */
}
.pad-top-20 {
  padding-top: 20px;
  /* font-size: 20px; */
}
.pad-top-30 {
  padding-top: 30px;
  /* font-size: 20px; */
}
.pad-top-40 {
  padding-top: 40px;
  /* font-size: 20px; */
}
.pad-top-50 {
  padding-top: 50px;
  /* font-size: 20px; */
}



a {
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
  align-items: center;
}

/* HEADER */
header {
  background-color: #fff;
  position: fixed;
  display: flex;
  width: 100%;
  height: 55px;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #fafafa;
}

.header-wrapper {
  /* background-color: red; */
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  /* max-width: 100%; */
}

.header-1,
.header-2 {
  align-items: center;
}

.font-lobster {
  font-family: "Lobster", sans-serif;
}

.font-10 {
  font-size: 10px;
}
.font-20 {
  font-size: 20px;
}
.font-25 {
  font-size: 25px;
}

.logo {
  font-family: "Lobster";
  font-size: 18px;
}

.logo img {
  align-items: center;
  width: 130px;
}
.sf-logo {
  align-items: center;
  width: 130px;
}

.inbox img {
  width: 20px;
  padding-left: 15px;
}

.search img {
  padding-top: 5px;
  width: 25px;
  /* padding-left: 15px; */
}


.activity-logo {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 20px;
}

.activity-logo h3 {
  font-weight: 900;
}

.activity-logo img {
  width: 30px;
}

.activity-log-img {
  padding: 0;
  position: absolute;
  right: 46.05%;
  top: 10px;
  /* left: 50%; */
}

.width-p-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.width-p-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.width-p-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.height-p-10 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.height-p-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.height-p-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.height-p-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.height-p-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.height-p-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.height-p-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* MAIN */
main {
  margin-top: 54px;
}

main {
  margin-top: 54px;
}

.margin-l-5 {
  margin-left: 5px;
}
.margin-l-10 {
  margin-left: 10px;
}
.margin-r-5 {
  margin-right: 5px;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-b-50 {
  margin-bottom: 50px;
}
.margin-b-60 {
  margin-bottom: 60px;
}
.margin-b-70 {
  margin-bottom: 70px;
}

.welcome-user {
  font-family: "Sacramento", cursive;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.content-wrapper-comment {
  margin: 0 auto;
  max-width: 550px;
  border-bottom: 1px solid #1b1a1711;
}
.content-wrapper-tells {
  /* background-color: #1b1a17; */

  margin: 0 auto 30px;
  padding: 20px 0 0hr-line-user-profile;
  max-width: 550px;
}

.content-wrapper {
  /* background-color: #1b1a17; */

  margin: 0 auto;
  max-width: 550px;
}

.content-wrapper-user-profile {
  /* background-color: #1b1a17; */

  margin: 0 auto;
  max-width: 550px;
}

.content-box {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 1.4;
  /* overflow: hidden; */
  /* box-shadow: 0px 1px 2px rgba(23, 23, 23, 0.092); */
  background-color: #fff;
}
.content-box-post {
  border-top-right-radius: 10px;
  overflow: hidden;
}

.content-2 {
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* height: 50vh; */
}

.content-2-updated {
  /* border-bottom: 1px solid #202a39;
  border-left: 1px solid #202a39;
  border-right: 1px solid #202a39; */
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
  padding: 0 15px;
  /* height: 50vh; */
}

.content-2-post {
  border-bottom: 1px solid #202a39;
  border-left: 1px solid #202a39;
  border-right: 1px solid #202a39;
  border-top: 1px solid #202a39;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  /* height: 50vh; */
}

.content-2-user-profile {
  /* border-bottom: 1px solid #202a39; */
  /* border-left: 1px solid #202a39; */
  /* border-right: 1px solid #202a39; */
  background-color: #ffffff;
  /* border-bottom-left-radius: 10px; */
  /* height: 50vh; */
}

.content-1 img {
  max-width: 100%;
  /* max-height: 100%; */
  /* vertical-align: middle; */
  object-fit: cover;
}

.profile-pic {
  border-radius: 50%;
  width: 30px;
}

.heartr {
  position: absolute;
  width: 30px;
  top: -40px;
  right: 20px;
  cursor: pointer;
  animation: heartr 0.5s ease-in;
}

/* + ani for heart */
/* width: 40px;
top: -45px;
right: 14.5px; */



@keyframes heartr {
  0% {
    width: 25px;
    top: -37px;
    right: 22px;
  }
  25% {
    width: 40px;
    top: -45px;
    right: 14.5px;
  }
  50% {
    width: 25px;
    top: -37px;
    right: 22px;
  }
  75% {
    width: 40px;
    top: -45px;
    right: 14.5px;
  }
  100% {
    width: 30px;
    top: -40px;
    right: 20px;
  }
}

.heartw {
  width: 25px;
  position: absolute;
  top: -37px;
  right: 22px;
  cursor: pointer;
}



.cl-right {
  display: flex;
  align-items: center;
  /* background-color: #000; */
  /* width: 100px; */
  justify-content: flex-end;
  text-align: right;
}

.heart-tell {
  padding-left: 10px;
  width: 30px;
  /* position: absolute; */
  /* top: -40px; */
  /* right: 20px; */
}

.heart-tell:hover {
  width: 32px;
  transition: 0.3 ease-in-out;
}

.content-layer-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-layer-2 {
  padding: 5px 0 0;
  padding-bottom: 3px;
}

.content-layer-1 h3 {
  padding: 0 0 0 9px;
  margin: 5px 0;
  box-sizing: border-box;
}

.fc-top {
  padding: 10px 10px;

}

.content-layer-3 {
  font-size: 14px;
}

.content-layer-4 {
  justify-content: space-between;
  margin-bottom: 25px;
}
.cl-4 {
  justify-content: space-between;
}

.content-layer-4-updated {
  justify-content: space-between;
  margin-bottom: 5px;
}

.comment-button {
  padding: 5px 15px;
  color: #fff;
  /* background-color: #202a39; */
  background-color: #000;
  border-radius: 20px;
}

.done {
  padding: 10px 0 30px 0;
  text-align: center;
}

#done {
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: #fff;
  width: 100%;
  height: 55px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  border-top: 1px solid #fafafa;
}

.footer {
  background-color: #fff;
  position: fixed;
  width: 100%;
  min-height: 55px;
  bottom: 0;
  z-index: 1;
  box-sizing: border-box;
  border-top: 1px solid #fafafa;
  padding: 0px 10px;
}
.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.big-heart-parent {
  position: relative;
}

.big-heart {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: big-heart 0.5s ease-in;
  opacity: 0;
}

@keyframes big-heart {
  0% {
    width: 50px;
  }
  25% {
    width: 80px;
  }
  50% {
    width: 100px;
  }
  75% {
    opacity: 0.8;
    width: 100px;
  }
  100% {
    width: 100px;
    opacity: 0;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************************ NEXT PAGE **************************************/

/* PROFILE */

.profile-header {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0 0;
}

.profile-picture {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 20px 0 5px;
  border-radius: 50%;
}

.username {
  /* padding: 0 0 10px; */
  /* font-weight: 900; */
  font-size: 20px;
}

.username img {
  width: 20px;
}

.username h2 {
  font-size: 28px;
  margin: 0;
  padding: 20px 0 10px;
}

.profile-picture img {
  border: 5px solid #202a39;
  border-radius: 50%;
  background-color: #202a39;
  height: 100%;
  width: 100%;
  /* vertical-align: middle; */
  object-fit: cover;
}

.profile-layer-2 {
  padding: 0 50px 10px;
}

.profile-layer-2 small {
  font-size: 15px;
}

.profile-layer-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-layer-3 p {
  margin: 0;
}

.followers-count,
.following-count {
  padding: 20px 20px 25px;
  border-top: 1px solid #fafafa;
}

.followers-count p,
.following-count p {
  font-weight: 500;
}

.filter-options {
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}

.saved-options {
  position: absolute;
  top: 3.4rem;
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #fafafa;
}

.options-wrapper {
  border-bottom: 1px solid #fafafa;
  display: flex;
  justify-content: space-evenly;
  max-width: 550px;
  margin: 0 auto;
}

.fff-op-wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-evenly;
  border-bottom: 1px solid #1b1a1711;
}

.fff-op-wrapper h4 {
  margin: 17px 0;
}
/* .saved-options .selected {
  border-bottom: 2px solid #000;
} */

/* .saved-options {
  display: flex;
  justify-content: center;
  padding: 10px 20px 0;
} */

/* .saved-options h3 {
  margin: 0;
  padding: 12px 40px;
} */

.user-fcontainer {
  max-width: 270px;
  max-height: 32.5px;
  margin: 5px auto 10px;

  /* background-color: #11af6b; */
}

.follow-btn {
  color: #fff;
  display: inline-block;
  background-color: #4d77ff;
  width: 100%;
  padding: 8px 0;
  /* border: 1px solid #4166df; */
  /* margin: 10px 0 10px; */
  /* margin-bottom: 10px; */
  border-radius: 10px;
  font-weight: 500;
}

.following-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.following-btn {
  color: #000;
  width: 100%;
  padding: 7px 35px;
  border: 1px solid rgb(224, 224, 224);
  background-color: #fff;
  /* margin: 10px 0 10px; */
  /* margin-bottom: 10px; */
  border-radius: 10px;
  font-weight: 500;
}

.edit-profile-btn {
  color: #000;
  width: 100%;
  padding: 7px 0;
  border: 1px solid rgb(224, 224, 224);
  background-color: #fff;
  /* margin: 10px 0 10px; */
  /* margin-bottom: 10px; */
  border-radius: 10px;
  font-weight: 500;
}

.pf-logo-container {
  display: flex;
  align-items: center;
  position: relative;
}

.pf-back {
  position: relative;
  top: 3px;
  padding-right: 15px;
}





/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************************ NEXT PAGE **************************************/

/* ACTIVITY */

.hidden {
  visibility: hidden;
}
.opacity-none {
  opacity: 0;
  animation: opacity-none 0.3s ease-in;
}

@keyframes opacity-none {
  0% {
    opacity: 1;
    width: 30px;
  }
  100% {
    opacity: 0;
    width: 50px;
    right: 11px;
    top: -49px;
  }
}

.profile-pic-small {
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic-smallbig {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #000;
}

.chat-content {
  padding-left: 13px;
  width: 100%;
  max-height: 45px;
  overflow: hidden;
}

.c-top,
.c-bottom {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  align-items: center;
}

.c-top p {
  font-size: 14px;
}

.c-bottom p {
  padding-right: 30px;
}

.activity-content small {
  padding-left: 12px;
}

.activity-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.activity-container {
  background-color: #fff;
}

.activity-wrapper {
  padding: 15px 0;
  /* max-width: 550px;
  margin: 0 auto; */
}

.pointer {
  cursor: pointer;
}

.activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-height: 50px;
}
.activity-2 {
  display: flex;
  align-items: center;
  /* padding: 10px 20px; */
}

.activity-2 p {
  /* margin: 0; */
  /* margin: 16px 0; */
}

.activity-right-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activity-right-info strong {
  padding-right: 12px;
  font-size: 18px;
}

.message-count-box {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #11af6b;
  color: #fff;
  font-weight: 900;
  border-radius: 50%;
}

.activity p {
  padding-left: 7px;
  padding-right: 7px;
}

.activity strong {
  color: #000;
}

.img-holder {
  height: 30px;
  min-width: 30px;
  max-width: 30px;
  border-radius: 50%;
}
.img-holder-tell-on {
  height: 30px;
  min-width: 20px;
  max-width: 20px;
  border-radius: 50%;
}

.img-holder-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.liked-image {
  width: 100%;
  height: 100%;
  /* border-radius: 10%; */
  object-fit: cover;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************************ NEXT PAGE **************************************/

/* TELLS */
/* Tells Page <header>...</header> uses alot of styling from the activity page */

.addtell-react {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
.addpost-react {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.pre-wrap {
  white-space: pre-wrap;
}

.no-borders {
  border: none;
}

.tell-wrapper {
  background-color: #fff;
  /* height: 150vh; */
  max-width: 550px;
  /* padding-top: 20px; */
  margin: 0 auto;
  /* box-shadow: 0 1px rgba(0, 0, 0, 0.224); */

}

.tells {
  padding: 20px 0 20px;
}

.tells{
  padding: 20px 0 0;
}

.told-on-container {
  width: 100%;
}

.tb-container {
  display: flex;
}

.vertical-rule {
  padding: 0 1.5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(193, 193, 193);
  /* background-color: red; */
  margin: 3px 20px 0 10.5px;
}

.tcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 5px;
}

.theartb, .theartr {
  position: absolute;
  right: 0;
  top: -5px;
  width: 16px;
}

/* .theartr {
  width: 18px;
  top: -6.5px;
  right: -1.3px;
} */


/* right: 0;
top: -5px;
width: 15px; */

.theartr {
  animation: theartr 0.3s ease-in-out;
}

@keyframes theartr {
  0% {
    width: 15px;
    right: 0;
    top: -5px;
  }
  25% {
    width: 18px;
    top: -5.85px;
    right: -1px;
  }
  50% {
    width: 15px;
    right: 0;
    top: -5px;
  }
  65% {
    width: 18px;
    top: -5.85px;
    right: -1px;
  }
  100% {
    width: 15px;
    top: -5px;
    right: 0;
  }
}


.tcon small{
  position: absolute;
  bottom: -25px;
  right: 4.3px;
}

.ton {
  display: flex;
  justify-content: space-between;
}

.tf-cover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto" sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  max-width: 100%;
  box-sizing: border-box;
}

.tf-cover .img-holder-2 {
  justify-content: start;
}

.tf-cover textarea {
  font-family:  "Roboto", sans-serif;
  height: 10px;
  max-height: 500px;
  border: none;
  outline: none;
  resize: none;
  caret-color: #00B4D8;
  width: 100%;
  font-size: 16px;
  padding: 15px 15px;
  /* top: -20px; */
}

.tf-cover textarea::-webkit-scrollbar {
  width: 0;
}

.textarea {
  font-family:  "Roboto", sans-serif;
  overflow-y: hidden;
  border: none;
  outline: none;
  resize: none;
  caret-color: #00B4D8;
  width: 100%;
  font-size: 16px;
  padding: 15px 15px;
}
.textarea-tell-on {
  font-family:  "Roboto", sans-serif;
  overflow-y: hidden;
  border: none;
  outline: none;
  resize: none;
  caret-color: #00B4D8;
  width: 100%;
  font-size: 16px;
  padding: 20px 15px;
  box-sizing: border-box;
}


.comment-btn-container {
  font-size: 16px;
  font-family: "Roboto" sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: bottom;
  outline: none;
  max-width: 100%;
  box-sizing: border-box;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************************ NEXT PAGE **************************************/

/* INBOX */
/* Inbox Page <header>...</header> uses alot of styling from the activity page */
.inbox-menu {
  /* position: fixed; */
  display: block;
  width: 100%;
  margin-top: 56px;
  z-index: 2;
}
.inbox-options {
  display: flex;
  justify-content: center;
  /* border-top: 1px solid #202a39; */
  /* border-bottom: 1px solid #202a39; */
  background-color: #fff;
  width: 100%;
  border-bottom: 0.5px solid #efefef;
}

.inbox-menu .chat-c {
  color: #000;
  padding: 16px 30px;
  /* border-left: 1px solid #fff; */
  /* border-right: 1px solid #202a39; */
}

.chat-c,
.feed-c,
.friends-c {
  border-top: 5px solid rgba(0, 0, 0, 0);
  max-width: ;
}

.chat-c h4{
  display: inline;
}
.chat-c span {
  padding: 2px 7px;
  background-color: #f24a72;
  color: #fff;
  border-radius: 40px;
  font-size: 12px;
  margin-left: 4px;
  position: relative;
  top: -2px;
  font-weight: 600;
}

.pick {
  border-bottom: 2px solid #000;
}

.black {
  color: #000;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************************ NEXT PAGE **************************************/

/* CHAT */
.mobile-page-center {
  max-width: 550px;
  margin: 0 auto;
}

/* .mobile-page-center {
  max-width: 400px;
  margin: 0 auto;
} */
.message-wrapper {
  /* padding-top: 69.2px; */
}

.chat {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 15px 0 30px;
}

.group-1 {
  display: flex;
  align-items: center;
  max-height: 112px;
}

.chat-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-circle {
  background-color: #11af6b;
  text-align: center;
  border-radius: 10px;
  padding: 1px 6px;
  margin-top: 3px;
  color: #fff;
  font-size: 13px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Floater Container - pop up */
/*  */

.collapse {
  visibility: collapse;
}

.none {
  display: none;
}

.floater-container {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.313);
  height: 100%;
  width: 100%;
  z-index: 2;
  /* visibility: collapse; */
}

.floater-box {
  transition: 1 ease-in;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  animation-name: post-floater-box;
  animation-duration: 0.7s;
  /* animation-delay: 0.3; */
  animation-timing-function: ease;
  z-index: 1;
}

@keyframes post-floater-box {
  from {
    bottom: -200px;
  }
  to {
    bottom: 0;
  }
}

.floater-exit {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.313);
  /* background-color: rgba(0, 128, 0, 0.449);  for debuging purposes */
  height: 100%;
  width: 100%;
}

.floater-bottom-options {
  /* background-color: #11af6b; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding-top: 7px;
  padding-bottom: 40px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.floater-bottom-options h3 {
  margin: 15px 0;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/****************************************** Comment Floater *************************************************/
/*  */
.width-100 {
  width: 100%;
}
.comment-in {
  position: fixed;
  top: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 2;
  /* visibility: collapse; */
  animation: comment-in 0.5s ease;
}
@keyframes comment-in {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}

.comment-out {
  top: 0;
  background-color: rgba(0, 0, 0, 0.313);
  height: 100%;
  width: 100%;
  z-index: 2;
  /* visibility: collapse; */
  animation: comment-out 0.5s ease;
  right: -500px;
}

@keyframes comment-out {
  0% {
    right: 0;
  }
  100% {
    right: -500px;
  }
}

.dark-background {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.comment-container {
  z-index: 3;
}

.comment-wrapper {
  box-sizing: border-box;
  padding: 7px 10px;
  font-size: 15px;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.comment-header-container {
  box-sizing: border-box;
  padding: 75px 10px 5px;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.comments-list-container {
  box-sizing: border-box;
  padding: 20px 10px 5px;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.comment-post-btn {
  color: #2FA4FF;
  padding-bottom: 15px;
  border: none;
  background-color: #fff;
}
.disabled {
  color: #6c7780;
}

.seperator {
  background-color: #fff;
  padding-top: 5px;
  border-bottom: 1px solid #fafafa;
}
.comment-wrapper p {
  padding-left: 10px;
  margin: 0;
}

.a_comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.comment-back {
  width: 5px;
}

.comment-btn-wrappers {
  display: flex;
}

#comment-form {
  width: 100%;
}


#comment {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-size: 16px;
}

.post-comment-btn {
  border: 0;
  color: #4d77ff;
  font-weight: 900;
  background-color: #fff;
  cursor: pointer;
}

/* .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
} */
/* 
.comment-floater-options h3 {
  margin: 15px 0;
} */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/****************************************** Post *************************************************/
/*  */

.postlist, .tellslist {
  text-align: left;
}

.tell-on-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  text-align: center;
}

.exit-tell-on {
  background-color: #000;
  opacity: 0.5;
  height: 100vh;
  animation: exit-tell-on 0.1s ease-in;
}
@keyframes exit-tell-on {
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}
.exit-tell-on-close {
  opacity: 0;
  animation: exit-tell-on-close 0.2s ease-in;
}
@keyframes exit-tell-on-close {
  0% {opacity: 0.5;}
  100% {opacity: 0;}
}

.tell-on-box {
  background-color: #fff;
  min-height: 170px;
  max-height: 70vh;
  width: 98%;
  right: 1%;
  position: absolute;
  bottom: 10px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  animation: tell-on-box 0.2s ease-in;
}
@keyframes tell-on-box {
  0% {
    transform: scale(0.2);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.tell-on-box-close {
  transform: scale(0);
  opacity: 0;
  animation: tell-on-box-close 0.15s ease-in;
}
@keyframes tell-on-box-close {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0.1;
  }
}


.tell-on-button {
  display: flex;
}

.tell-on-button button{
  margin-left: auto;
  background-color: #fff;
  border: 0;
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.post-or-tell {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  min-height: 70px;
  max-height: 100px;
  background-color: #fafafa;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
}

.pot-user {
  margin: 0;
}

.pot-body {
  margin: 0;
  font-size: 14px;
  padding-top: 10px;
  
}

.main-tell-box {
  text-align: left;
}



.post-form-info {
  display: flex;
  align-items: center;
}

.post-form-info img {
  height: 35px;
  max-width: 35px;
  min-width: 35px;
  border: 5px solid #202a39;
}

.post-file-wrapper {
  min-height: 200px;
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

#tapheretopost {
  text-align: center;
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: tapheretopost 1.5s ease;
}

@keyframes tapheretopost {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0%;
  }

  100% {
    opacity: 1;
  }
}

.post-file-wrapper img {
  width: 100%;
  vertical-align: middle;
  z-index: 1;
}

.form-wrapper {
  max-width: 550px;
  margin: 0 auto;
  /* min-height: 560px; */
  width: 100%;
  /* border-radius: 50px; */
  overflow: hidden;
  margin-top: 55px;
}

.post-layer-3 {
  box-sizing: border-box;
}

.post-layer-3 input {
  display: block;
}

.post-textarea {
  width: 100%;
  min-height: 160px;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  font-weight: 500;
  font-family: "Roboto";
  border: 1px solid #f3f3f3;
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.post-btn {
  padding: 7px 22px;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** Post *******************************/
/*  */

.auth-container {
  /* min-width: 100%; */
  max-width: 550px;
  height: 50vh;
  /* background-color: red; */
  padding: 0 25px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 180px;
}

.sf-auth-logo img {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.auth-form {
  width: 100%;
  margin: 30px 0 20px;
  /* background-color: #000; */
}

.auth-form input {
  width: 100%;
  padding: 13px 5px;
  border-style: none;
  border-radius: 5px;
  border: 0;
  margin-top: 14px;
  background-color: #f9f9f9;
  border: 2px solid #e4e4e4;
  outline: none;

  font-size: 16px;
  box-sizing: border-box;
}

.auth-form input[type="text"]:focus,
.auth-form input[type="password"]:focus {
  box-sizing: border-box;
  border: 2px solid #cccccc;
}

.auth-form input[type="submit"] {
  background-color: #4d77ff;
  color: #fff;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.auth-form input[type="submit"]:hover {
  background-color: #4671ff;
}

small a {
  text-decoration: underline;
  font-size: 15px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** Edit-Profile *******************************/
/*  */

.edit-profile-wrapper {
  max-width: 550px;
  margin: 0 auto;
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: #fff;
}

.change-profile-pic {
  display: flex;
  height: 150px;
  width: 150px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 auto;
}

#change-pp-btn {
  text-align: center;
  text-decoration: underline;
  color: #4d77ff;
  cursor: pointer;
}

.edit-profile {
  width: 100%;
  margin-top: 20px;
  /* background-color: #000; */
}

.edit-profile label {
  color: #212e42d7;
  font-size: 10px;
}

.edit-profile input {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 5px;
  margin-bottom: 16px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #91919197;
  background-color: #f9f9f9;
  outline: none;
}

.edit-profile textarea {
  width: 100%;
  min-height: 160px;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  font-weight: 500;
  font-family: "Roboto";
  border: 1px solid #f3f3f3;
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.edit-profile input:focus {
  background-color: #f0f0f0;
  /* border-radius: 5px; */
  transition: 0.5s ease;
  font-weight: 500;
}

.edit-profile input[type="submit"] {
  margin-top: 20px;
  background-color: #4d77ff;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

.output {
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** followers, following, friends *******************************/
/*  */
.verified-pos1 {
  position: relative;
  left: 3px;
  top: 1px;
  margin-right: 7px;
}
.verified-pos2 {
  position: relative;
  left: 4px;
  top: 2px;
  margin-right: 7px;
}
.verified-pos3 {
  position: relative;
  left: 4px;
  top: 3px;
  margin-right: 7px;
}

.fff-wrapper {
  background-color: #fff;
  padding: 15px 0;
  max-width: 550px;
  box-sizing: border-box;
  margin: 0 auto;
}

.fff-wrapper .fff-main-user {
  padding-bottom: 20px;
}
.fff-main-user {
  background-color: #fff;
  border-bottom: 1px solid #1b1a1711;
}

.fff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.fff-main-user .img-holder {
  max-width: 35px;
  min-width: 35px;
  height: 35px;
}

.following-btn-fff {
  color: #000;
  /* width: 100%; */
  padding: 7px 8px;
  border: 1px solid rgb(224, 224, 224);
  background-color: #fff;
  /* margin: 10px 0 10px; */
  /* margin-bottom: 10px; */
  border-radius: 10px;
  font-weight: 500;
}

.following-btn-fff-sub {
  color: #000;
  /* width: 100%; */
  padding: 5px 15px;
  border: 1px solid rgb(224, 224, 224);
  background-color: #fff;
  /* margin: 10px 0 10px; */
  /* margin-bottom: 10px; */
  border-radius: 10px;
  font-weight: 500;
}

.follow-btn-fff-sub {
  color: #000;
  /* width: 100%; */
  padding: 5px 26px;
  border: 1px solid rgb(224, 224, 224);
  color: #fff;
  background-color: #4d77ff;
  /* margin: 10px 0 10px; */
  /* margin-bottom: 10px; */
  border-radius: 10px;
  font-weight: 500;
}

.friends-btn-fff-sub {
  color: #000;
  /* width: 100%; */
  padding: 5px 22px;
  border: 1px solid rgb(224, 224, 224);
  color: #fff;
  background-color: #3156d1;
  /* margin: 10px 0 10px; */
  /* margin-bottom: 10px; */
  border-radius: 10px;
  font-weight: 500;
}

.friends-btn {
  padding-left: 16px;
  padding-right: 16px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** SAVED *******************************/
/*  */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** DISCOVER *******************************/
/*  */

.discover-container {
  padding-top: 55px;
}

.search-icon-an {
  padding-right: 0;
  animation: search-icon-an 0.2s ease;
}

@keyframes search-icon-an {
  0% {
    padding-right: 40px;
  }
  100% {
    padding-right: 0;
  }
}

.d-wrapper {
  height: 200px;
  width: 100%;
  /* border: 1px solid black; */
}

.bod-bottom-3 {
  border-bottom: 3px solid #000;
}

.long-square {
  height: 100%;
  width: 33.33333333333%;
  background-color: red;
}

.long-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square-container {
  width: 66.66666666666%;
  height: 100%;
  background-color: #11af6b;
}

.sqw {
  height: 50%;
  width: 100%;
  background-color: #1d2a3d;
  display: flex;
}

.sqw a {
  width: 50%;
  height: 100%;
}

.sqw img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* layer-2 */
.square-container-2 {
  width: 100%;
  height: 100%;
  background-color: #11af6b;
}

.sqw-2 {
  height: 50%;
  width: 100%;
  background-color: #1d2a3d;
  display: flex;
}

.sqw-2 a {
  width: 33.33333333333%;
  height: 100%;
  object-fit: cover;
}

.sqw-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** SEARCH *******************************/
/*  */

.search-react {
  height: 100vh;
  background-color: #fff;
}

.search {
  width: 90%;
}

#search {
  width: 100%;
  padding: 10px 5px 10px 20px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  border-radius: 30px;
  border: none;
  background-color: #efefef;
}

#search:focus {
  transition: 1s ease;
}

.search-container {
  padding-top: 20px;
}

.img-holder-2 {
  height: 45px;
  min-width: 45px;
  max-width: 45px;
  border-radius: 50%;
}

.search-info h3 {
  padding-left: 0;
}
.search-info p {
  padding-left: 0;
}

.search-info {
  padding-left: 15px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** Update for feed post box *******************************/
/*  */

.content-layer-0 {
  /* border-left: 1px solid #202a39;
  border-right: 1px solid #202a39;
  padding: 5px 0 0; */
  /* padding: 3px 0; */
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.cl0-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.cl0-left img,
.cl0-right img {
  width: 24px;
}

.cl0-left strong {
  font-size: 26px;
}

.post-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** Update for feed comment box *******************************/
/*  */
.cl1-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.cl1-left p {
  padding-right: 15px;
  margin: 0;
}

.pl-new {
  display: flex;
  justify-content: center;
  flex-grow: none;
  min-width: 40px;
}


.cl1-left img,
.cl1-right img {
  width: 14px;
}

.cl1-left strong {
  font-size: 16px;
}

.img-holder .liked-image {
  align-items: center;
}

.inbox {
  /* position: relative; */
  /* background-color: #11af6b; */
}

.red-circle {
  padding: 1px 6px 1px;
  border-radius: 40px;
  background-color: #f24a72;
  position: absolute;
  text-align: center;
  font-size: 13px;
  /* font-weight: 700; */
  color: #fff;
}

.red-circle-mp {
  bottom: 30px;
  right: 10px;
}

.red-circle-ac {
  bottom: 17px;
  right: -10px;
}

.f-activity {
  position: relative;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** Message *******************************/
/*  */

.message-header,
.message-left {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: #1a1a1b;
  color: #fff;
  /* padding: 0 5px; */
}

.bk-color-none {
  background-color: #1d2a3d;
}

.message-header {
  justify-content: space-between;
  padding-right: 5px;
}

.back {
  padding: 5px 10px 0;
}

.back img {
  width: 25px;
}

.img-holder-m {
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.img-holder-image-m {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.message-right {
  padding: 9px 20px 7px;
  /* margin-right: 5px; */
  /* background-color: red; */
  border-radius: 50%;
}

.message-right a {
}



.options-link {
  /* background-color: #11af6b; */
  border-radius: 50%;
}

.timestamp {
  padding: 6px 15px;
  background-color: #fff;
  /* margin: 0 auto; */
  border-radius: 10px;
  margin: 20px auto;
  color: rgb(59, 59, 59);
}

.timestamp-holder {
  display: flex;
}

.message-form {
  height: 64px;
  width: 100%;
  /* background-color: #1d2a3d; */
  color: #fff;
  position: fixed;
  display: flex;
  bottom: 0;
  box-sizing: border-box;
  padding: 0 5px;
}

.m-input {
  width: 100%;
}

.m-input input {
  width: 98%;
  padding: 18px 20px;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
  /* border: 0.1px solid #202a3974; */
  border: none;
  caret-color: #11af6b;
}

.m-send button {
  background-color: #11af6b;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-send img {
  width: 30px;
  padding-left: 3px;
}

.msg-block {
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.msg-block-me {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2px 0;
  position: relative;
}

.msg-box,
.msg-box-me {
  padding: 10px 15px 5px;
  border-radius: 20px;
  /* border: 0.1px solid rgb(162, 162, 162); */
  max-width: 75%;
  display: flex;
  line-height: 1.5;
}

.msg-box {
  background-color: #fff;
  border-radius: 20px;
  margin-left: 3px;
}

.msg-box-me {
  border: 0.1px solid rgb(162, 162, 162);
  background-color: #dffdf8;
}

.c1 {
  width: 5px;
  height: 5px;
  margin: 3px;
  border-radius: 50%;
  background-color: rgb(165, 165, 165);
  /* background-color: #11af6b; */
}

.msg-green {
  background-color: #11af6b;
}

.msg-blue {
  background-color: #2FA4FF;
}

.seen-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 8px; */
}

.seen-flex div {
  margin: 1px;
}

.msg-box span,
.msg-box-me span {
  padding-right: 15px;
}

.msg-time {
  float: right;
  margin-top: 10px;
}

.img-holder-c {
  max-width: 45px;
  min-width: 45px;
  height: 45px;
}

.msg-rcontainer {
  position: relative;
}

.msg-r {
  width: 20px;
  margin-right: 30px;
}

.msg-rcount {
  background-color: #f24a72;
  text-align: center;
  border-radius: 10px;
  padding: 1px 6px;
  margin-top: 3px;
  color: #fff;
  font-size: 13px;
  position: absolute;
  bottom: -3px;
  right: 20px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/************************************** Request *******************************/
/*  */

.request-wrapper {
  padding-top: 20px;
}

.p-bot-10 {
  padding-bottom: 10px;
}
.p-bot-20 {
  padding-bottom: 20px;
}
.p-bot-30 {
  padding-bottom: 30px;
}

.border-rad-20 {
  border-radius: 20px;
}

.border-rad-20 {
  border-radius: 20px;
}
.border-rad-30 {
  border-radius: 30px;
}
.border-rad-40 {
  border-radius: 40px;
}

.request-profile {
  padding-bottom: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.accept-or-reject {
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.request-options {
  padding: 15px 0;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  /* background-color: #3156d1; */
}

.accept-r,
.reject-r {
  padding: 0 30px;
}

.accept-r {
  color: #11af6b;
  border-right: 1px solid #000;
}

.reject-r {
  color: red;
}

.feed-container {
  padding-top: 67px;
}

.friends-container {
  padding-top: 67px;
}

.chat-content-f {
  padding-left: 13px;
  width: 100%;
  display: flex;
  align-items: center;
}

.last_seen {
  transition: 2s;
  padding-left: 12px;
  animation: last_seen 0.5s ease-in;
  opacity: 1;
}

@keyframes last_seen {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.border-none {
  border: none;
}